	.todayList li {
		font-size: 2.5rem;
		color: red;
  	    list-style-type: none; /* removes the bullet */

		}

	  .tomorrowList li {
		font-size: 2.5rem;
		color: green;
	    list-style-type: none; /* removes the bullet */

	  }
